
@font-face {
  font-family: 'NexaRustScriptB-01';
  src: url('NexaRustScriptB-01.eot?#iefix') format('embedded-opentype'),  url('NexaRustScriptB-01.otf')  format('opentype'),
	     url('NexaRustScriptB-01.woff') format('woff'), url('NexaRustScriptB-01.ttf')  format('truetype'), url('NexaRustScriptB-01.svg#NexaRustScriptB-01') format('svg');
  font-weight: normal;
  font-style: normal;
}
